<h3>Tasks</h3>

<% unless @tasks.empty? %>
    <table cellspacing="1" cellpadding="5">
      <tr class="header">
        <th>ID</th>
        <th>Task status</th>
        <th>Artifact</th>
        <th>Action</th>
      </tr>
      <% for task in @tasks %>
          <tr class="row">
            <td>
              <%= link_to "#{task.id}", task %></td>
            <td><%= task.status %></td>
            <td><%= task.artifact %></td>
            <td><%= task.action %></td>
          </tr>
      <% end %>
    </table>
<% else %>
    <p>No tasks found.</p>
<% end %>
