<h3>Tasks</h3>

<% if @tasks.size > 0 %>
    <table cellspacing="1" cellpadding="5">
      <tr class="header">
        <th>ID</th>
        <th>Task status</th>
        <th>Action on image</th>
        <th>Task description</th>
      </tr>
      <% for task in @tasks %>
          <tr class="row">
            <td>
              <%= link_to "#{task.id}", task %></td>
            <td><%= task.status %></td>
            <td><%= task.action %></td>
            <td><%= task.description %></td>
          </tr>
      <% end %>
    </table>
<% end %>
