<h3>Images</h3>

<% if @images.size > 0 %>
    <table cellspacing="1" cellpadding="5">
      <% for image in @images %>
          <tr class="row">
            <td>
              <%= link_to "#{image.id}", image %></td>
            <td><%= image.description %></td>
          </tr>
      <% end %>
    </table>
<% else %>
    <p>No images found.</p>
<% end %>
