<% if image_actions.size > 0 %>
    <p>Available actions:</p>
    <ul>
      <% for action in image_actions do %>
          <li><%= action %></li>
      <% end %>
    </ul>
<% else %>
    <p>No actions available.</p>
<% end %>

<% if @images.size > 0 %>
    Images:
    <ul>
      <% for image in @images %>
          <li>
            <pre><%= image.attributes.to_yaml %></pre>
          </li>
      <% end %>
    </ul>
<% end %>