<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <title>Grape API</title>
</head>
<body>

<p><%= api_name %> API v<%= api_version %></p>

<p><%= bread_crumb -%></p>

<%= yield %>

</body>
</html>