<h3>Output formats</h3>

Every API call return data in various output formats. To select a output format provide its name after dot, eg.
<code>.yaml</code>.

<h4>Available output formats:</h4>

<ul>
  <li><code>.yaml</code> or HTTP Header: <code>Accept: text/yaml</code></li>
  <li><code>.xml</code> or HTTP Header: <code>Accept: text/xml</code></li>
  <li><code>.json</code> or HTTP Header: <code>Accept: application/json</code></li>
</ul>

<%= yield %>

<% parent_layout 'application' %> 